* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 25px;
}

header {
    .header-bar {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .logo {
            img {
                height: 44px;
                width: 270px;
            }
        }

        nav {
            ul {
                display: flex;
                align-items: center;
                gap: 24px;
                margin-bottom: 8px;

                li {
                    a {
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        color: #05060a;
                        transition: 1s;
                    }

                    a:hover {
                        color: #fca61f;
                        transition: 0.5s;
                    }
                }
            }
        }

        .languages {
             select {
                height: 56px;
                width: 80px;
                padding-left: 8px;
                font-family: Roboto, Helvetica, Arial, sans-serif;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.4375em;
                letter-spacing: 0.00938em;
                color: rgba(0, 0, 0, 0.87);
                display: inline-flex;
                -webkit-box-align: center;
                align-items: center;
                position: relative;
                border-radius: 4px;
                background-color: #f5f5f5 !important;
                cursor: pointer;
             }
                
            }

            .bar-menu {
                display: none;
            }
        }
    }

 #introduction {
    .intro {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 80px;
        height: 606px;


        
        .left { 
            border: 1px solid none;
            height: 510px;
            width: 45%;
            display: flex;
    
            flex-direction: column;
            h1 {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 72px;
                line-height: 128%;
                letter-spacing: .01em;
                margin: 0 0 41px;
                color: #05060a;

                span {
                    color: #fca61f;
                }
            }

            .button {
                margin-top: 40px;

                a {
                    button {
                        height: 62px;
                        width: 165px;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        box-shadow: 0 4px 60px rgba(252, 166, 31, .35);
                        color: #fff;
                        background-color: #fca61f;
                        transition: 1.2s;
                    }

                    button:hover {
                        height: 82px;
                        width: 185px;
                        transition: 1.2s;
                    }
                }
        }

            
            }
        }

        .right {
            position: relative;
            border: 1px solid none;
            height: 510px;
            width: 45%;

            .ibex {
                background: hsla(0, 0%, 100%, .55);
                box-shadow: 0 4px 4px rgba(0, 0, 0, .03);
                -webkit-backdrop-filter: blur(30px);
                backdrop-filter: blur(30px);
                border-radius: 20px;
                width: 262px;
                height: 97px;
                display: flex;
                gap: 32px;
                padding: 22px 21px;
                align-items: center;
                cursor: pointer;
                position: absolute;
                top: 30px;
                left: 0px;

                div {
                    p {
                        font-family: DMSans-Regular;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -.02em;
                        color: #a3aed0;
                        margin: 0
                    }

                    h4 {
                        font-family: DMSans-Regular;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 32px;
                        letter-spacing: -.02em;
                        color: #2b3674;
                        margin: 0;
                    }
                }

                img {
                    margin-left: 20px;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                }
            }

            .statistica {
                background: hsla(0, 0%, 100%, .55);
                box-shadow: 0 4px 4px rgba(0, 0, 0, .03);
                -webkit-backdrop-filter: blur(30px);
                backdrop-filter: blur(30px);
                width: 262px;
                height: 182px;
                border-radius: 20px;
                position: absolute;
                bottom: 48px;
                left: 0px;
                z-index: 2;

                .head {
                    position: absolute;
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    gap: 56px;
                    left: 10px;
                    padding: 10px 14px;

                    h6 {
                        font-family: DMSans-Regular;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: -.02em;
                        color: #a3aed0;
                        margin: 0;
                    }

                    .numbers{

                        span {
                            font-family: DMSans-Regular;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            text-align: center;
                            letter-spacing: -.02em;
                            color: #05cd99;

                        }
                    }
                }
            }

            .total {
                width: 248px;
                height: 97px;
                background: hsla(0, 0%, 100%, .55);
                box-shadow: 0 4px 4px rgba(0, 0, 0, .03);
                -webkit-backdrop-filter: blur(30px);
                backdrop-filter: blur(30px);
                border-radius: 20px;
                padding: 20px 17px;
                display: flex;
                gap: 18px;
                position: absolute;
                right: 0px;
                top: 110px;
                z-index: 2;

                .img {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    background: #f4f7fe;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                }

                .total-info{
                    span {
                        font-family: DMSans-Regular;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: -.02em;
                        color: #a3aed0;
                        margin: 0;
                    }

                    h3 {
                        margin: 0;
                        font-family: DMSans-Regular;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        letter-spacing: -.02em;
                        color: #2b3674;
                    }
                }
            }

            .img-circule {
                position: absolute;
                right: 30px;
                top: 180px;
                z-index: 1;

                img {
                    width: 375px;
                    height: 375px;
                    object-fit: cover;
                }
            }

            .circule {
                background: #fca61f;
                box-shadow: 0 4px 64px 42px rgba(252, 166, 31, .35);
                width: 321px;
                height: 321px;
                position: absolute;
                border-radius: 50%;
                right: 0px;
                top: 110px;
                z-index: -1;
            }
        }
    }


#products1 {
    margin-bottom: 100px;

    .about {
        display: flex;
        flex-direction: column;

        .product-top {
            display: flex;
            justify-content: space-between;
            gap: 55px;

            .product-left {
                img {
                    height: 340px;
                    width: 438px;
                    object-fit: cover;
                }
            }

            .product-right {
                display: flex;
                flex-direction: column;
                // height: 340px;
                width: 47%;

                h2 {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 128%;
                    letter-spacing: .01em;
                    color: #07003b;
                    margin-bottom: 45px;
                }

                h4 {
                    color: rgb(252, 166, 31);
                    font-size: 22px;
                    font-weight: bold;
                }

                p {
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    color: #5d616f;
                    margin: 0;
                    display: block;
                }
            }
        }

        .product-buttom {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            // flex-wrap: wrap;
            gap: 55px;

            .product-left {
                // height: 440px;
                width: 47%;
                padding-top: 40px;

                h2 {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 128%;
                    letter-spacing: .01em;
                    color: #07003b;
                    margin-bottom: 45px;

                    span {
                        color: #fca61f;
                    }
                }

                p {

                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    color: #5d616f;
                    margin: 0;
                    display: block;
                }
            }

            .product-right {
                img {
                    height: 440px;
                    width: 440px;
                    object-fit: cover;
                }
            }

        }
    }
}

#products2 {
    .about {
        display: flex;
        flex-direction: column;

        .product-top {
            display: flex;
            justify-content: space-between;
            gap: 55px;

            .product-left2 {
                img {
                    height: 312px;
                    width: 438px;
                    object-fit: cover;
                }
            }

            .product-right {
                display: flex;
                flex-direction: column;
                width: 47%;

                h2 {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 128%;
                    letter-spacing: .01em;
                    color: #07003b;
                    margin-bottom: 45px;
                }

                h4 {
                    color: rgb(252, 166, 31);
                    font-size: 22px;
                    font-weight: bold;
                }

                p {
                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    color: #5d616f;
                    margin: 0;
                    display: block;
                }
            }
        }

        .product-buttom {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            gap: 55px;

            .product-left {
                width: 47%;
                padding-top: 40px;

                h2 {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 128%;
                    letter-spacing: .01em;
                    color: #07003b;
                    margin-bottom: 45px;

                    span {
                        color: #fca61f;
                    }
                }

                p {

                    font-family: 'Noto Sans', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    color: #5d616f;
                    margin: 0;
                    display: block;
                }
            }

            .product-right2 {
                img {
                    height: 310px;
                    width: 440px;
                    object-fit: cover;
                }
            }
        }
    }
}

#why-us {
    background-color: #fff;
    padding: 65px 0;

    .service {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;

        .card-tittle {
            margin-bottom: 50px;

            h2 {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 128%;
                color: #fba62c;
                letter-spacing: .01em;
                margin-bottom: 12px;

                span {
                    color: #07003b;
                }
            }
        }

        .cards {
            display: flex;
            justify-content: space-between;

            .card {
                width: 19%;

                h3 {
                    font-family: 'Poppins', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: #22324a;
                    margin-bottom: 3px;
                }

                span {
                    margin-bottom: 18px;
                    width: 75px;
                    height: 3px;
                    background: #fca61f;
                    display: block;
                }

                p {
                    font-family: NotoSans-Regular;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #5d616f;
                    margin: 0;
                }
            }
        }
    }
}

#api {
    padding: 117px 0;

    .content {
        height: 312px;
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        gap: 168px;

        .left {
            height: 312px;
            width: 47%;

            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 128%;
                letter-spacing: .01em;
                color: #07003b;
                margin-bottom: 31px;

                span {
                    color: #fca61f;
                }
            }

            p {
                font-family: NotoSans-Regular;
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 30px;
                color: #5d616f;
                margin-bottom: 71px;
            }
        }
    }

    .right {
        position: relative;
        height: 312px;
        width: 484px;

        img {
            border-radius: 50px;
            position: absolute;
            height: 312px;
            width: 484px;
        }
    }
}

#two-box {
    .box-row {
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        gap: 40px;

        .box1 {
            height: 260px;
            width: 35%;

            h3 {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 150%;
                text-transform: uppercase;
                color: #22324a;
                margin: 0;
            }

            span {
                display: block;
                margin-top: 5px;
                height: 3px;
                width: 60px;
                background: #fca61f;
            }

            p {
                margin-top: 16px;
                font-family: NotoSans-Regular;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #5d616f;
                margin-bottom: 0;
            }

        }

        .box2 {
            height: 260px;
            width: 61%;

            h3 {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 150%;
                text-transform: uppercase;
                color: #22324a;
                margin: 0;
            }

            span {
                display: block;
                margin-top: 5px;
                height: 3px;
                width: 60px;
                background: #fca61f;
            }

            p {
                margin-top: 16px;
                font-family: NotoSans-Regular;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #5d616f;
                margin-bottom: 0;
            }

        }
    }
}

#partners {
    background: #606c6c;
    padding-top: 40px;
    padding-bottom: 46px;

    .swiper {
        .cards {
            border-radius: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 5px;

            img {
                height: 100px;
                width: 250px;
            }
        }
    }
}

footer {
    background: #fca61f;
    padding: 65px 0;

    .container {
        // flex-wrap: wrap;

        .contact {
            display: flex;
            justify-content: space-between;

            h3 {
                margin-bottom: 5px;
                font-family: Taviraj-Regular;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 41px;
                letter-spacing: .02em;
                color: #22324a;
            }

            span {
                width: 60px;
                height: 1px;
                display: block;
                background: #22324a;
                margin-bottom: 16px;
            }

            a {
                color: #22324a;
                font-family: Taviraj-Regular;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: .03em;
            }
        }

        .c {
            justify-content: flex-start;

            p {
                font-family: Taviraj-Regular;
                line-height: 27px;
                letter-spacing: .02em;
                margin: 0;
                color: #22324a;
            }
        }
    }
}

